<div class="w-100 body d-flex justify-content-start align-items-center flex-column">
  <img class='logo mt-4' src="../../assets/logo/dt-hbomax-logo-in_app.svg">
  <H1 class="mt-5 ">Quem está assistindo?</H1>
  <div class="d-flex justify-content-around align-items-center flex-row mt-5"
        style="width: 486px;height: 217px;">
    <div class="d-flex justify-content-around align-items-center flex-column div_avatar position-relative">
      <img class="avatar" src="../../assets/profile/patolino.jpg">
      <h3 class="position-absolute">Bruno</h3>
    </div>
    <div class="d-flex justify-content-around align-items-center flex-column div_avatar position-relative">
      <img class="avatar" src="../../assets/profile/frajola.jpg">
      <h3 class="position-absolute">Kau</h3>
    </div>
  </div>
  <div class="mt-5 w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-around align-items-center options">
      <span class="d-flex justify-content-center align-items-center flex-row">
        <img src="../../assets/icons/btn_add_white.png" class="me-2">
        ADULTO
      </span>
      <span class="d-flex justify-content-center align-items-center flex-row">
        <img src="../../assets/icons/btn_add_white.png" class="me-2">
        CRIANÇA
      </span>
    </div>
    <h3 class="manager mt-5">GERENCIAR PERFIS</h3>
  </div>
</div>
