<div class="h-100 ps-5" style="background-color: rgb(15, 15, 15);">
  <div style="height: 10%; font-size: 20px;" class="d-flex align-items-center">
    <a class="exit">
      <i class="bi bi-x-lg ms-3"  data-bs-dismiss="offcanvas" ></i>
    </a>
  </div>
  <ul class="list-group flex-column pb-5 list-group-flush w-100 overflow-auto left-list pe-2"
  style="overflow-y: auto;">
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Inicio</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Séries</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Filmes</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Originais</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Adicionados Recentemente</a>
    </li >
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Últimos Dias</a>
    </li >
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Em Breve</a>
    </li >
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Em Alta</a>
    </li >
    <hr class="ms-2 mt-0">
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Ação</a >
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Animação</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Comédia</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Policial</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Documentários</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Drama</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Ficção Científica e Fantasia</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Terror e Suspense</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Internacional</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Crianças e Família</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Produções Latinoamericanas</a>
    </li>
    <li class="ms-2 mb-3">
      <a class="link-side-bar">Romance</a>
    </li>
    <hr class="ms-2 mt-0">
    <li class="ms-2 d-flex flex-row flex-wrap justify-content-between" style="width: 90%;">
        <div class="rounded-pill mb-3 estudio d-flex justify-content-center">
          <img src="../../../../assets/logo/dc.png">
        </div>
        <div class="rounded-pill mb-3 estudio d-flex justify-content-center">
          <img src="../../../../assets/logo/cartoon.png">
        </div>
        <div class="rounded-pill mb-3 estudio d-flex justify-content-center">
          <img src="../../../../assets/logo/warner.png">
        </div>
        <div class="rounded-pill mb-3 estudio d-flex justify-content-center">
          <img src="../../../../assets/logo/hbo.png">
        </div>
        <div class="rounded-pill mb-3 estudio d-flex justify-content-center">
          <img src="../../../../assets/logo/max.png">
        </div>
    </li>
  </ul>
</div>
