.watching {
  height: 40px;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgb(240, 240, 240);
  font-weight: bolder;
}

.title-arrow {
  color: rgb(240, 240, 240);
  font-size: 25px;
}

.title:hover,
.title-arrow:hover {
  cursor: pointer;
}

.list {
  height: 280px;
  margin-left: 3rem;
}

.card-list {
  width: 200px !important;
}

.watching-banner {
  height: 200px !important;
  width: 380px;
}
.add_list{
  height: 200px;
  width: 380px;
}
.add_list:hover{
  background: url('../../../assets/background/overlay.png');
  background-repeat: no-repeat;
  background-size: auto;
}
.add_list>i{
  display: none;
  font-size: 50px;
  color: white;
  height: 50px;
  border-radius: 30px;
}
.add_list:hover>i{
  display: flex;
}

.add_list>i:hover{
  color: rgb(158, 134, 255, 0.8);
  background-color: rgb(158, 134, 255, 0.25);
  cursor: pointer;
}
.nextEP,
.nameStream {
  font-size: 15px !important;
  letter-spacing: 0.3px !important;
  line-height: 20px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 700 !important;
}

.ep-Season {
  color: rgb(153, 153, 153) !important;
}

#nextEp {
  font-size: 12px !important;
  line-height: 14px !important;
  letter-spacing: 0.5px !important;
  color: rgb(153, 153, 153) !important;
}

.scroll,
.scroll-rigth {
  height: 200px;
  width: 55px;
  color: transparent;
  font-size: 40px;
}

.jfy-container{
}

.jfy-container:hover .scroll-rigth {
  background-color: rgba(15, 15, 15, 0.85);
  color: white;
  opacity: 0.75;
}

.scroll-rigth:hover {
  opacity: 1;
  cursor: pointer;
}

::ng-deep.swiper-wrapper {
  display: flex !important;
}

::ng-deep.swiper-button-disabled {
  display: none;
}

.jfy-container:hover ::ng-deep.swiper-button-prev,
.jfy-container:hover ::ng-deep.swiper-button-next {
  position: absolute !important;
  z-index: 1 !important;
  height: 200px !important;
  width: 4% !important;
  background-color: rgba(15, 15, 15, 0.527) !important;
}

.jfy-container:hover ::ng-deep.swiper-button-prev:hover,
.jfy-container:hover::ng-deep.swiper-button-next:hover {
  background-color: rgba(15, 15, 15, 0.8) !important;
}

::ng-deep.swiper-button-prev {
  left: 0 !important;
  background-image: url("../../../assets/icons/icons8-left-96.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

::ng-deep.swiper-button-next {
  right: 0 !important;
  background-image: url("../../../assets/icons/icons8-right-96.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
