<div class="watching ps-5">
  <div class="w-100 d-flex flex-row justify-content-start">
    <h2 class=" title">Continuar Assistindo</h2>
    <i class="bi bi-arrow-right-short title-arrow"></i>
  </div>
</div>
<div>
  <div class="w-100 overflow-hidden position-relative watching-container">
      <div class="list w-100 pe-5 d-flex flex-row">
        <swiper class="w-100 pe-5 d-flex flex-row" [config]="config">
          <ng-container *ngFor="let watching of watchingList" class="d-flex">
            <ng-template  swiperSlide class="card-list position-relative d-flex flex-column">
                <img [ngClass]="{'mb-3':!watching.nextEP}" class="watching-banner"
                  src='{{"assets/watchingList/" + watching.banner}}'>
                  <mat-progress-bar *ngIf="watching.isWatching != 0" mode="determinate" value="40" class="progressWatching">
                  </mat-progress-bar>
                <p *ngIf="watching.nextEP" class="mt-1 mb-0 nextEP" id="nextEp">Próximo Episódio</p>
                <span class="nameStream">{{watching.name}} <span class="ep-Season">{{watching.season}} {{watching.episode}}</span></span>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
  </div>
</div>
