<div class="banner w-100">
  <iframe class="w-100 h-100 position-absolute iframe" src="https://www.youtube.com/embed/mqqft2x_Aa4?controls=0&loop=1&autoplay=1&mute=1&cc_load_policy=0&playlist=mqqft2x_Aa4"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; controls: 0;
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="w-100 h-100 moldura position-absolute d-flex">
    <app-banner-options class="banner-options
                                d-flex
                                justify-content-center
                                align-items-center"></app-banner-options>
  </div>
</div>
