<div class="modal fade" id="exampleModal">
  <div class="modal-dialog modal-fullscreen-xxl-down">
    <div class="modal-content d-flex flex-row"
    style="height: 90%;top: 10%;width: 95%;left: 5%;">
      <div class="menu-sidebar p-4 pt-5">
        <div class="d-flex w-100 justify-content-between header-menu">
          <h1>Minha lista</h1>
        </div>
        <div class="minha-lista w-100 d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="">
              Crie uma lista para assistir depois.
            </span>
            <span class="mt-5">
              O QUE É MINHA LISTA?
            </span>
          </div>
        </div>
      </div>
      <nav class="d-flex flex-column position-absolute side-bar h-100 end-0">
        <div class="p-2 pb-3 w-100 border-bottom d-flex flex-row">
          <img routerLink="rigth-menu" class="img-profile me-2" src="..//../../assets/profile/patolino.jpg">
          <span style="height: 40px;font-weight: bold;" class="d-flex align-items-end ms-2">
            bruno
          </span>
        </div>
        <ul class="list-unstyled list-group flex-column h-100 list-group-flush w-100 overflow-auto ps-3">
          <hr class="ms-2 mt-0">
          <li class="ms-2 list-none">
            <a class="link-side-bar fw-bold">Minha Lista</a>
          </li>
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Continue assistindo</a>
          </li>
          <hr class="ms-2 mt-0">
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Conta</a>
          </li>
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Assinatura</a>
          </li>
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Gerenciar dispositivos</a>
          </li >
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Controle dos pais</a>
          </li >
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Notificações</a>
          </li >
          <hr class="ms-2 mt-0">
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Idioma de exibição</a>
          </li >
          <li class="ms-2">
            <a class="link-side-bar">Mudar de Perfil</a >
          </li>
          <li class="ms-2">
            <a class="link-side-bar ">Ajuda</a>
          </li>
          <li class="ms-2">
            <a class="link-side-bar ">Sair</a>
          </li>
          <li class="ms-2">
            <a class="link-side-bar fw-bold">Privacidade e Termos</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
